@media only screen and (max-width: 768px) {
[class*="col-"] {
    width: 100%;
  }
}

@media (max-width: 805px) {
   
    .flex-container1,.flex-container2,.flex-container3 {
      flex-direction: column;
      width: fit-content;
      margin: 10px;
    }
  }
 





h3{
    background-color: lightgray; 
    text-align: center;
}


h4{
    text-decoration: underline;
}
.container {
    border: 1px solid black;
    margin: auto;
    width: 80%;
}
.flex-container1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex,.flex-container1>div {
    margin: 10px;
}

.flex-container2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.flex,.flex-container2>div{
    margin: 10px; 
}


.flex-container3{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}
/* .flex-container3-item2{
    position: relative;
    left: 104px;
} */

.flex,.flex-container3>div {
    margin: 10px;
} 

 
body {
    background-color: lightgrey;
}

label:not(.unreq)::after {
    content: "*";
    color: red;
}
#dec3::before, #dec4::before{
    content: "*";
    color: red;
}
.container1 input[type="text"] {
    width: 10;
    padding: 5px 5px;
    margin: 5px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid black;
    width: 100%;
}

.container {
    font-family: 'serif';
    border: 1px solid black;
    margin: auto;
    width: 80%;
    background-image: url('https://img.freepik.com/free-photo/organized-desk-with-copy-space_23-2148219270.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px;

}



.button1,
.button2 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: green;
}


.button2 {
    background-color: red;
}