
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tent House Rental Website</title>
    <link rel="stylesheet" href="~/Content/WelcomePage.css" />
</head>
<body>

    <header>
        <h1>Welcome to Tent House Rental Website</h1>
        <p class="sub-heading">Find Exactly What You Are Looking For!</p>
        <p class="description">Discover a wide range of non-consumable items available for rent.</p>
        <p class="description">We accept Card and UPI Payments</p>
    </header>

    <section>
        <h2>For more Details</h2>
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr> 425.555.0100
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </section>

</body>
</html>


