
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>The entered number in Quantity are out of the range. Input Correct Quantity number Again</h2>
    <button id="redirectButton" class="btn btn-primary">Go Back to Home</button>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="~/Scripts/Transaction.js"></script>