
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>The entered number in Quantity are out of the range. Input Correct Quantity number Again</h2>
</body>
</html>