<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
			<add key="LogFileFolderPath" value="D:\MINDFIRE\source\repos\DemoUserManagement_MVC\Logs"/>
			<add key="LogToFile" value="true" />
			<add key="LogToTable" value="true" />
			<add key="Path" value="D:\MINDFIRE\source\repos\DemoUserManagement\DemoUserManagement.web\Output"/>
	</appSettings>
</configuration>